html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    padding-top: 20px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

div.required label:after {
    content: " *";
    color: red;
}

.yii-logo {
    width: auto;
    height: 32px;
    float: left;
    padding-right: 10px;
}

.wrap > .container h1 {
    text-align: center;
}

.wrap > .container p {
    text-align: center;
}